body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

.testimonials {
    padding: 50px 20px;
    margin-bottom: 161px;
}
.testimonials h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #242d52;
    margin-bottom: 59px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial {
    background:  #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    width: 540px;
    height: 256px;
    text-align: center;
}

.testimonial img {
    position: relative;
    bottom: 60px;
}

.testimonial h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #242d52;
}

.testimonial p {
    width: 460px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    opacity: 0.5;
    text-align: center;
    color: #242d52;
    padding-left: 40px;
    margin-bottom: 30px;
}

.btn {
    padding: 13px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    border: none;
    color: #fff;
    background-color: #F3603C;
    margin-top: 53px;
}